//form inputs
input[type=text] {
    padding: .6em 1em;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
    &.success {
        border-color: #6fce72;
        box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
    }
    &.alert {
        border-color: #e4655f;
        box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
    }
}

hr {
    border-top: 1px solid #dce0e0;
}

.alert-admin{
    margin-bottom: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    text-align: center;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate{
    white-space: nowrap;
}

.link-reset, .link-icon {
    color: inherit;
}

.link-reset:hover,.link-icon:hover,.link-reset:focus,.link-icon:focus,.link-reset:active,.link-icon:active{
    color:inherit;
    outline:none;
    text-decoration:none
}

.img-circle {
    border: 2px solid #707070;
}

.img-circle-white{
    border: 2px solid #EEEEEE;
}
.img-circle-no-border {
    border: 0 none;
}

//Navbar Overwrites
.navbar-toggle {
    margin-top: 10px;
}

//Row CSS
.row {
    margin-left: -12.5px;
    margin-right: -12.5px;
}

.row-space-1 {
    margin-bottom: 6.25px
}

.row-space-top-1 {
    margin-top: 6.25px
}

.row-space-2 {
    margin-bottom: 12.5px
}

.row-space-top-2 {
    margin-top: 12.5px
}

.row-space-3 {
    margin-bottom: 18.75px
}

.row-space-top-3 {
    margin-top: 18.75px
}

.row-space-4 {
    margin-bottom: 25px
}

.row-space-top-4 {
    margin-top: 25px
}

.row-space-5 {
    margin-bottom: 31.25px
}

.row-space-top-5 {
    margin-top: 31.25px
}

.row-space-6 {
    margin-bottom: 37.5px
}

.row-space-top-6 {
    margin-top: 37.5px
}

.row-space-7 {
    margin-bottom: 43.75px
}

.row-space-top-7 {
    margin-top: 43.75px
}

.row-space-8 {
    margin-bottom: 50px
}

.row-space-top-8 {
    margin-top: 50px
}

@media (max-width: 767px) {
    .text-jumbo {
        font-size: 31px
    }
    .text-center-sm {
        text-align: center
    }
    h1,
    .h1 {
        font-size: 41px
    }
    h2,
    .h2 {
        font-size: 30px
    }
    h3,
    .h3 {
        font-size: 22px
    }
    h4,
    .h4 {
        font-size: 17px
    }
    h5,
    .h5 {
        font-size: 15px
    }
    h6,
    .h6 {
        font-size: 13px
    }
    h1 small,
    .h1 small {
        font-size: 26px
    }
    h2 small,
    .h2 small {
        font-size: 20px
    }
    h3 small,
    .h3 small {
        font-size: 15px
    }
    h4 small,
    .h4 small {
        font-size: 14px
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .text-center-md {
        text-align: center
    }
}

@media (min-width: 1100px) {
    .text-center-lg {
        text-align: center
    }
}

@media (min-width: 768px) {
    .col-md-offset-0 {
        margin-left: auto
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-1 {
        width: 8.33333%;
        float: left
    }
    .col-md-offset-1 {
        margin-left: 8.33333%
    }
    .col-md-push-1 {
        left: 8.33333%
    }
    .col-md-pull-1 {
        right: 8.33333%
    }
    .col-md-2 {
        width: 16.66667%;
        float: left
    }
    .col-md-offset-2 {
        margin-left: 16.66667%
    }
    .col-md-push-2 {
        left: 16.66667%
    }
    .col-md-pull-2 {
        right: 16.66667%
    }
    .col-md-3 {
        width: 25%;
        float: left
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-4 {
        width: 33.33333%;
        float: left
    }
    .col-md-offset-4 {
        margin-left: 33.33333%
    }
    .col-md-push-4 {
        left: 33.33333%
    }
    .col-md-pull-4 {
        right: 33.33333%
    }
    .col-md-5 {
        width: 41.66667%;
        float: left
    }
    .col-md-offset-5 {
        margin-left: 41.66667%
    }
    .col-md-push-5 {
        left: 41.66667%
    }
    .col-md-pull-5 {
        right: 41.66667%
    }
    .col-md-6 {
        width: 50%;
        float: left
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-7 {
        width: 58.33333%;
        float: left
    }
    .col-md-offset-7 {
        margin-left: 58.33333%
    }
    .col-md-push-7 {
        left: 58.33333%
    }
    .col-md-pull-7 {
        right: 58.33333%
    }
    .col-md-8 {
        width: 66.66667%;
        float: left
    }
    .col-md-offset-8 {
        margin-left: 66.66667%
    }
    .col-md-push-8 {
        left: 66.66667%
    }
    .col-md-pull-8 {
        right: 66.66667%
    }
    .col-md-9 {
        width: 75%;
        float: left
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-10 {
        width: 83.33333%;
        float: left
    }
    .col-md-offset-10 {
        margin-left: 83.33333%
    }
    .col-md-push-10 {
        left: 83.33333%
    }
    .col-md-pull-10 {
        right: 83.33333%
    }
    .col-md-11 {
        width: 91.66667%;
        float: left
    }
    .col-md-offset-11 {
        margin-left: 91.66667%
    }
    .col-md-push-11 {
        left: 91.66667%
    }
    .col-md-pull-11 {
        right: 91.66667%
    }
    .col-md-12 {
        width: 100%;
        float: left
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-pull-12 {
        right: 100%
    }
}

@media (min-width: 1100px) {
    .col-lg-offset-0 {
        margin-left: auto
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-1 {
        width: 8.33333%;
        float: left
    }
    .col-lg-offset-1 {
        margin-left: 8.33333%
    }
    .col-lg-push-1 {
        left: 8.33333%
    }
    .col-lg-pull-1 {
        right: 8.33333%
    }
    .col-lg-2 {
        width: 16.66667%;
        float: left
    }
    .col-lg-offset-2 {
        margin-left: 16.66667%
    }
    .col-lg-push-2 {
        left: 16.66667%
    }
    .col-lg-pull-2 {
        right: 16.66667%
    }
    .col-lg-3 {
        width: 25%;
        float: left
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-4 {
        width: 33.33333%;
        float: left
    }
    .col-lg-offset-4 {
        margin-left: 33.33333%
    }
    .col-lg-push-4 {
        left: 33.33333%
    }
    .col-lg-pull-4 {
        right: 33.33333%
    }
    .col-lg-5 {
        width: 41.66667%;
        float: left
    }
    .col-lg-offset-5 {
        margin-left: 41.66667%
    }
    .col-lg-push-5 {
        left: 41.66667%
    }
    .col-lg-pull-5 {
        right: 41.66667%
    }
    .col-lg-6 {
        width: 50%;
        float: left
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-7 {
        width: 58.33333%;
        float: left
    }
    .col-lg-offset-7 {
        margin-left: 58.33333%
    }
    .col-lg-push-7 {
        left: 58.33333%
    }
    .col-lg-pull-7 {
        right: 58.33333%
    }
    .col-lg-8 {
        width: 66.66667%;
        float: left
    }
    .col-lg-offset-8 {
        margin-left: 66.66667%
    }
    .col-lg-push-8 {
        left: 66.66667%
    }
    .col-lg-pull-8 {
        right: 66.66667%
    }
    .col-lg-9 {
        width: 75%;
        float: left
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-10 {
        width: 83.33333%;
        float: left
    }
    .col-lg-offset-10 {
        margin-left: 83.33333%
    }
    .col-lg-push-10 {
        left: 83.33333%
    }
    .col-lg-pull-10 {
        right: 83.33333%
    }
    .col-lg-11 {
        width: 91.66667%;
        float: left
    }
    .col-lg-offset-11 {
        margin-left: 91.66667%
    }
    .col-lg-push-11 {
        left: 91.66667%
    }
    .col-lg-pull-11 {
        right: 91.66667%
    }
    .col-lg-12 {
        width: 100%;
        float: left
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-pull-12 {
        right: 100%
    }
}

@media (max-width: 767px) {
    .space-sm-1 {
        margin-bottom: 6.25px
    }
    .space-top-sm-1 {
        margin-top: 6.25px
    }
    .space-sm-2 {
        margin-bottom: 12.5px
    }
    .space-top-sm-2 {
        margin-top: 12.5px
    }
    .space-sm-3 {
        margin-bottom: 18.75px
    }
    .space-top-sm-3 {
        margin-top: 18.75px
    }
    .space-sm-4 {
        margin-bottom: 25px
    }
    .space-top-sm-4 {
        margin-top: 25px
    }
    .space-sm-5 {
        margin-bottom: 31.25px
    }
    .space-top-sm-5 {
        margin-top: 31.25px
    }
    .space-sm-6 {
        margin-bottom: 37.5px
    }
    .space-top-sm-6 {
        margin-top: 37.5px
    }
    .space-sm-7 {
        margin-bottom: 43.75px
    }
    .space-top-sm-7 {
        margin-top: 43.75px
    }
    .space-sm-8 {
        margin-bottom: 50px
    }
    .space-top-sm-8 {
        margin-top: 50px
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .space-md-1 {
        margin-bottom: 6.25px
    }
    .space-top-md-1 {
        margin-top: 6.25px
    }
    .space-md-2 {
        margin-bottom: 12.5px
    }
    .space-top-md-2 {
        margin-top: 12.5px
    }
    .space-md-3 {
        margin-bottom: 18.75px
    }
    .space-top-md-3 {
        margin-top: 18.75px
    }
    .space-md-4 {
        margin-bottom: 25px
    }
    .space-top-md-4 {
        margin-top: 25px
    }
    .space-md-5 {
        margin-bottom: 31.25px
    }
    .space-top-md-5 {
        margin-top: 31.25px
    }
    .space-md-6 {
        margin-bottom: 37.5px
    }
    .space-top-md-6 {
        margin-top: 37.5px
    }
    .space-md-7 {
        margin-bottom: 43.75px
    }
    .space-top-md-7 {
        margin-top: 43.75px
    }
    .space-md-8 {
        margin-bottom: 50px
    }
    .space-top-md-8 {
        margin-top: 50px
    }
}

@media (min-width: 1100px) {
    .space-lg-1 {
        margin-bottom: 6.25px
    }
    .space-top-lg-1 {
        margin-top: 6.25px
    }
    .space-lg-2 {
        margin-bottom: 12.5px
    }
    .space-top-lg-2 {
        margin-top: 12.5px
    }
    .space-lg-3 {
        margin-bottom: 18.75px
    }
    .space-top-lg-3 {
        margin-top: 18.75px
    }
    .space-lg-4 {
        margin-bottom: 25px
    }
    .space-top-lg-4 {
        margin-top: 25px
    }
    .space-lg-5 {
        margin-bottom: 31.25px
    }
    .space-top-lg-5 {
        margin-top: 31.25px
    }
    .space-lg-6 {
        margin-bottom: 37.5px
    }
    .space-top-lg-6 {
        margin-top: 37.5px
    }
    .space-lg-7 {
        margin-bottom: 43.75px
    }
    .space-top-lg-7 {
        margin-top: 43.75px
    }
    .space-lg-8 {
        margin-bottom: 50px
    }
    .space-top-lg-8 {
        margin-top: 50px
    }
}

@media (max-width: 767px) {
    .show-sm {
        display: block !important
    }
    tr.show-sm {
        display: table-row !important
    }
    th.show-sm,
    td.show-sm {
        display: table-cell !important
    }
    .hide-sm {
        display: none !important
    }
    tr.hide-sm {
        display: none !important
    }
    th.hide-sm,
    td.hide-sm {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .show-md {
        display: block !important
    }
    tr.show-md {
        display: table-row !important
    }
    th.show-md,
    td.show-md {
        display: table-cell !important
    }
    .hide-md {
        display: none !important
    }
    tr.hide-md {
        display: none !important
    }
    th.hide-md,
    td.hide-md {
        display: none !important
    }
}

@media (min-width: 1100px) {
    .show-lg {
        display: block !important
    }
    tr.show-lg {
        display: table-row !important
    }
    th.show-lg,
    td.show-lg {
        display: table-cell !important
    }
    .hide-lg {
        display: none !important
    }
    tr.hide-lg {
        display: none !important
    }
    th.hide-lg,
    td.hide-lg {
        display: none !important
    }
}

.page-container,
.page-container-responsive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5px;
    padding-right: 12.5px
}

.page-container:before,
.page-container-responsive:before,
.page-container:after,
.page-container-responsive:after {
    content: " ";
    display: table
}

.page-container:after,
.page-container-responsive:after {
    clear: both
}

@media (min-width: 768px) {
    .page-container,
    .page-container-responsive {
        padding-left: 25px;
        padding-right: 25px
    }
}

.page-container {
    width: 1045px
}

.page-container-responsive {
    width: auto
}

@media (min-width: 768px) {
    .page-container-responsive {
        width: 745px
    }
}

@media (min-width: 1100px) {
    .page-container-responsive {
        width: 1045px
    }
}

.page-container-full {
    width: auto
}

.page-container-full:before,
.page-container-full:after {
    content: " ";
    display: table
}

.page-container-full:after {
    clear: both
}

.space-0{
    margin-bottom:0px
}

.space-top-0{
    margin-top:0px
}

.space-1{
    margin-bottom:6.25px
}

.space-top-1{
    margin-top:6.25px
}

.space-2{
    margin-bottom:12.5px
}

.space-top-2{
    margin-top:12.5px
}

.space-3{
    margin-bottom:18.75px
}

.space-top-3{
    margin-top:18.75px
}

.space-4{
    margin-bottom:25px
}

.space-top-4{
    margin-top:25px
}

.space-5{
    margin-bottom:31.25px
}

.space-top-5{
    margin-top:31.25px
}

.space-6{
    margin-bottom:37.5px
}

.space-top-6{
    margin-top:37.5px
}

.space-7{
    margin-bottom:43.75px
}

.space-top-7{
    margin-top:43.75px
}

.space-8{
    margin-bottom:50px
}

.space-top-8{
    margin-top:50px
}

@media (max-width: 767px){
    .space-sm-0{
        margin-bottom:0px
    }

    .space-top-sm-0{
        margin-top:0px
    }

    .space-sm-1{
        margin-bottom:6.25px
    }

    .space-top-sm-1{
        margin-top:6.25px
    }

    .space-sm-2{
        margin-bottom:12.5px
    }

    .space-top-sm-2{
        margin-top:12.5px
    }

    .space-sm-3{
        margin-bottom:18.75px
    }

    .space-top-sm-3{
        margin-top:18.75px
    }

    .space-sm-4{
        margin-bottom:25px
    }

    .space-top-sm-4{
        margin-top:25px
    }

    .space-sm-5{
        margin-bottom:31.25px
    }

    .space-top-sm-5{
        margin-top:31.25px
    }

    .space-sm-6{
        margin-bottom:37.5px
    }

    .space-top-sm-6{
        margin-top:37.5px
    }

    .space-sm-7{
        margin-bottom:43.75px
    }

    .space-top-sm-7{
        margin-top:43.75px
    }

    .space-sm-8{
        margin-bottom:50px
    }

    .space-top-sm-8{
        margin-top:50px
    }

}

@media (min-width: 768px) and (max-width: 1099px){
    .space-md-0{
        margin-bottom:0px
    }

    .space-top-md-0{
        margin-top:0px
    }

    .space-md-1{
        margin-bottom:6.25px
    }

    .space-top-md-1{
        margin-top:6.25px
    }

    .space-md-2{
        margin-bottom:12.5px
    }

    .space-top-md-2{
        margin-top:12.5px
    }

    .space-md-3{
        margin-bottom:18.75px
    }

    .space-top-md-3{
        margin-top:18.75px
    }

    .space-md-4{
        margin-bottom:25px
    }

    .space-top-md-4{
        margin-top:25px
    }

    .space-md-5{
        margin-bottom:31.25px
    }

    .space-top-md-5{
        margin-top:31.25px
    }

    .space-md-6{
        margin-bottom:37.5px
    }

    .space-top-md-6{
        margin-top:37.5px
    }

    .space-md-7{
        margin-bottom:43.75px
    }

    .space-top-md-7{
        margin-top:43.75px
    }

    .space-md-8{
        margin-bottom:50px
    }

    .space-top-md-8{
        margin-top:50px
    }

}

@media (min-width: 1100px){
    .space-lg-0{
        margin-bottom:0px
    }

    .space-top-lg-0{
        margin-top:0px
    }

    .space-lg-1{
        margin-bottom:6.25px
    }

    .space-top-lg-1{
        margin-top:6.25px
    }

    .space-lg-2{
        margin-bottom:12.5px
    }

    .space-top-lg-2{
        margin-top:12.5px
    }

    .space-lg-3{
        margin-bottom:18.75px
    }

    .space-top-lg-3{
        margin-top:18.75px
    }

    .space-lg-4{
        margin-bottom:25px
    }

    .space-top-lg-4{
        margin-top:25px
    }

    .space-lg-5{
        margin-bottom:31.25px
    }

    .space-top-lg-5{
        margin-top:31.25px
    }

    .space-lg-6{
        margin-bottom:37.5px
    }

    .space-top-lg-6{
        margin-top:37.5px
    }

    .space-lg-7{
        margin-bottom:43.75px
    }

    .space-top-lg-7{
        margin-top:43.75px
    }

    .space-lg-8{
        margin-bottom:50px
    }

    .space-top-lg-8{
        margin-top:50px
    }

}

.col-1,.col-sm-1,.col-md-1,.col-lg-1,.col-2,.col-sm-2,.col-md-2,.col-lg-2,.col-3,.col-sm-3,.col-md-3,.col-lg-3,.col-4,.col-sm-4,.col-md-4,.col-lg-4,.col-5,.col-sm-5,.col-md-5,.col-lg-5,.col-6,.col-sm-6,.col-md-6,.col-lg-6,.col-7,.col-sm-7,.col-md-7,.col-lg-7,.col-8,.col-sm-8,.col-md-8,.col-lg-8,.col-9,.col-sm-9,.col-md-9,.col-lg-9,.col-10,.col-sm-10,.col-md-10,.col-lg-10,.col-11,.col-sm-11,.col-md-11,.col-lg-11,.col-12,.col-sm-12,.col-md-12,.col-lg-12{
    position:relative;
    min-height:1px;
    padding-left:12.5px;
    padding-right:12.5px
}

.row-condensed {
    margin-left: -6.25px;
    margin-right: -6.25px;
}

.row-condensed .col-1,.row-condensed .col-sm-1,.row-condensed .col-md-1,.row-condensed .col-lg-1,.row-condensed .col-2,.row-condensed .col-sm-2,.row-condensed .col-md-2,.row-condensed .col-lg-2,.row-condensed .col-3,.row-condensed .col-sm-3,.row-condensed .col-md-3,.row-condensed .col-lg-3,.row-condensed .col-4,.row-condensed .col-sm-4,.row-condensed .col-md-4,.row-condensed .col-lg-4,.row-condensed .col-5,.row-condensed .col-sm-5,.row-condensed .col-md-5,.row-condensed .col-lg-5,.row-condensed .col-6,.row-condensed .col-sm-6,.row-condensed .col-md-6,.row-condensed .col-lg-6,.row-condensed .col-7,.row-condensed .col-sm-7,.row-condensed .col-md-7,.row-condensed .col-lg-7,.row-condensed .col-8,.row-condensed .col-sm-8,.row-condensed .col-md-8,.row-condensed .col-lg-8,.row-condensed .col-9,.row-condensed .col-sm-9,.row-condensed .col-md-9,.row-condensed .col-lg-9,.row-condensed .col-10,.row-condensed .col-sm-10,.row-condensed .col-md-10,.row-condensed .col-lg-10,.row-condensed .col-11,.row-condensed .col-sm-11,.row-condensed .col-md-11,.row-condensed .col-lg-11,.row-condensed .col-12,.row-condensed .col-sm-12,.row-condensed .col-md-12,.row-condensed .col-lg-12{
    padding-left:6.25px;
    padding-right:6.25px
}
.selectize-input {
    border-radius: 0px;
}
label {
    padding-top: 8px;
}

.panel-close,.alert-close,.modal-close{
  float:right;
  cursor:pointer;
  font-size:2em;
  line-height:0.7;
  vertical-align:middle;
  font-style:normal;
  font-weight:normal;
  color:#cacccd
}

.panel-close:before,.alert-close:before,.modal-close:before{
  content:"\00d7"
}

.panel-close:hover,.alert-close:hover,.modal-close:hover,.panel-close:focus,.alert-close:focus,.modal-close:focus{
  color:#b0b3b5;
  text-decoration:none
}

.panel-close:not(:empty):before,.alert-close:not(:empty):before,.modal-close:not(:empty):before{
  display:none
}

.panel-quote{
  position:relative;
  margin-left:10px
}

.panel-quote:before{
  content:"";
  display:inline-block;
  position:absolute;
  left:-10px;
  top:15px;
  right:auto;
  border:10px solid transparent;
  border-left:0;
  border-right-color:#dce0e0
}

.panel-quote:after{
  content:"";
  display:inline-block;
  position:absolute;
  left:-9px;
  top:16px;
  right:auto;
  border:9px solid transparent;
  border-left:0;
  border-right-color:#fff
}

.panel-quote.panel-dark:before,.panel-quote.panel-header:before{
  content:"";
  display:inline-block;
  position:absolute;
  left:-10px;
  top:15px;
  right:auto;
  border:10px solid transparent;
  border-left:0;
  border-right-color:#dce0e0
}

.panel-quote.panel-dark:after,.panel-quote.panel-header:after{
  content:"";
  display:inline-block;
  position:absolute;
  left:-9px;
  top:16px;
  right:auto;
  border:9px solid transparent;
  border-left:0;
  border-right-color:#edefed
}

.panel-quote-flush{
  margin-left:0
}

.panel-quote-flush.panel-quote-right{
  margin-right:0
}

.panel-quote-right{
  position:relative;
  margin-right:10px;
  margin-left:0
}

.panel-quote-right:before{
  content:"";
  display:inline-block;
  position:absolute;
  right:-10px;
  top:15px;
  left:auto;
  border:10px solid transparent;
  border-right:0;
  border-left-color:#dce0e0
}

.panel-quote-right:after{
  content:"";
  display:inline-block;
  position:absolute;
  right:-9px;
  top:16px;
  left:auto;
  border:9px solid transparent;
  border-right:0;
  border-left-color:#fff
}

.panel-quote-right.panel-dark:before,.panel-quote-right.panel-header:before{
  content:"";
  display:inline-block;
  position:absolute;
  right:-10px;
  top:15px;
  left:auto;
  border:10px solid transparent;
  border-right:0;
  border-left-color:#dce0e0
}

.panel-quote-right.panel-dark:after,.panel-quote-right.panel-header:after{
  content:"";
  display:inline-block;
  position:absolute;
  right:-9px;
  top:16px;
  left:auto;
  border:9px solid transparent;
  border-right:0;
  border-left-color:#edefed
}

.panel{
  border:1px solid #DCE0E0;
  background-color:#fff;
  border-radius:0;
  margin-bottom: 0px
}

.panel-header,.panel-body,ul.panel-body>li,ol.panel-body>li,.panel-footer{
  position:relative;
  margin:0;
  padding:20px;
  border-top:1px solid #dce0e0
}

.panel-header+.panel-body,.panel-body+.panel-body,ul.panel-body>li+.panel-body,ol.panel-body>li+.panel-body,.panel-footer+.panel-body{
  border-top:none
}

.panel-header:first-child,.panel-body:first-child,ul.panel-body>li:first-child,ol.panel-body>li:first-child,.panel-footer:first-child{
  border-top:0
}

ul.panel-condensed>li,ol.panel-condensed>li,.panel-condensed{
  padding:14px
}

.panel-header{
  color:#565a5c;
  font-size:16px;
  padding-top:12px;
  padding-bottom:12px;
  border-bottom:1px solid #dce0e0;
  font-weight:bold;
}

.panel-header-scroll{
  position:relative
}

.panel-header-scroll:before{
  content:"";
  position:absolute;
  left:0;
  right:0;
  bottom:4px;
  box-shadow:0 0 10px 10px rgba(0,0,0,0.06);
  clip:rect(4px, auto, 20px, auto)
}

.panel-image{
  position:relative
}

a.panel-image{
  display:block
}

.panel-body{
  position:relative
}

.panel-body+.panel-body:before{
  content:"";
  position:absolute;
  top:-1px;
  height:1px;
  left:20px;
  right:20px;
  border-top:1px solid #dce0e0;
  border-color:rgba(220,224,224,0.5)
}

.panel-body:first-child:before,.panel-body.panel-dark:before,.panel-body.panel-header:before{
  display:none
}

.panel-body>*:first-child{
  margin-top:0
}

.panel-body>*:last-child{
  margin-bottom:0
}

ul.panel-body,ol.panel-body{
  padding:0;
  list-style:none
}

ul.panel-body>li,ol.panel-body>li{
  position:relative
}

ul.panel-body>li+.panel-body:before,ol.panel-body>li+.panel-body:before{
  content:"";
  position:absolute;
  top:-1px;
  height:1px;
  left:20px;
  right:20px;
  border-top:1px solid #dce0e0;
  border-color:rgba(220,224,224,0.5)
}

ul.panel-body>li:first-child:before,ul.panel-body>li.panel-dark:before,ul.panel-body>li.panel-header:before,ol.panel-body>li:first-child:before,ol.panel-body>li.panel-dark:before,ol.panel-body>li.panel-header:before{
  display:none
}

ul.panel-body>li>*:first-child,ol.panel-body>li>*:first-child{
  margin-top:0
}

ul.panel-body>li>*:last-child,ol.panel-body>li>*:last-child{
  margin-bottom:0
}

.panel-body-scroll{
  overflow-y:auto;
  -webkit-overflow-scrolling:touch
}

.panel-footer{
  text-align:right
}

.panel-dark,.panel-header{
  background-color:#edefed
}

.panel-light{
  background-color:#fff
}

@media (max-width: 767px){
  .panel-header{
    font-size:15px
  }

}

.label-black {
    color: grey;
    margin: 0; 
    padding: 0; 
    display: block; 
    font-size: 75%; 
    padding-top: .1em; 
    padding-right: .25em; 
    width: 6em; 
    text-align: right; 
    float: right;
}