.adsense
  ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8467960323308486" data-ad-slot="3552610255" data-ad-format="auto"
  javascript:
    (adsbygoogle = window.adsbygoogle || []).push({});