= metamagic title: 'Tripcanvas hotels listing', viewport:'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', description: 'Tripcanvas hotels listings site', keywords: 'hotel listings, reviews for hotels', og: { title: 'Tripcanvas Hotel Listings', site_name: 'Tripcanvas Hotel Listings', type: "website", image: "", url: "#{request.original_url}", description: 'Tripcanvas hotels listings site'}